<!DOCTYPE html>
<html lang="en">
<head>
    <script>var isomorphicDir="isomorphic/";</script>
    <script src="isomorphic/system/modules/ISC_Core.js"></script>
    <script src="isomorphic/system/modules/ISC_Foundation.js"></script>
    <script src="isomorphic/system/modules/ISC_Containers.js"></script>
    <script src="isomorphic/system/modules/ISC_Grids.js"></script>
    <script src="isomorphic/system/modules/ISC_Forms.js"></script>
    <script src="isomorphic/system/modules/ISC_DataBinding.js"></script>
    <script src="isomorphic/skins/SmartClient/load_skin.js"></script>

    <script src="data/controlled_lists.js"></script>

    <meta charset="UTF-8">
    <title>Lists</title>

</head>
<body>
    <script src="script/lists_isomorphic.js"></script>
</body>
</html>